---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/GoBack.astro";
import { Image } from "astro:assets";
import email from "../images/email.svg";
---

<Layout title="Contato">
  <div class="container">
    <span style="align-self: self-start;">
      <GoBack />
    </span>
    <span class="span">
      <Image src={email} alt="email" />
    </span>
    <h1>Entre em contato via e-mail</h1>
    <a href="mailto:contato.oleodescarte@gmail.com.br"
      >contato@oleodescarte.com.br</a
    >
  </div>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
      max-width: 22rem;
      min-width: 20rem;
      margin: 0 auto;
    }
    h1 {
      font-size: 1.25rem;
      color: #128232;
      font-weight: 700;
    }
    a {
      color: #4c4d4c;
    }
    .span {
      background-color: rgba(172, 222, 186, 0.09);
      border-radius: 50%;
      padding: 1rem;
      width: fit-content;
      height: fit-content;
      display: inline-block;
    }
  </style>
</Layout>
