---
import Layout from "../layouts/Layout.astro";
import GoBack from '../components/GoBack.astro'
import { Image } from "astro:assets";
import email from "../images/email.svg";
---

<Layout title="contato">
    <GoBack />
  <h1>Perguntas Frequentes - FAQ</h1>
  <p>Aqui você encontra informações sobre as principais dúvidas sobre o descarte de óleo de cozinha usado.</p>
  <section>
    <details>
        <summary>Como cadastrar a quantidade de óleo de cozinha usado?</summary>
        <p>Se você já possui uma conta em seu nome, basta acessar a sua área de login e cadastrar as informações de quantidade, local e horário para a retirada do resíduo de óleo de cozinha.<br/> Caso ainda não tenha uma conta, você deve realizar um rápido cadastro para ter acesso a sua área logada e seguir os passos informados acima. </p>
    </details>
    <details>
        <summary>Esqueci a minha senha, o que devo fazer?</summary>
    </details>
    <details>
        <summary>Posso recolher óleo para fazer sabão caseiro?</summary>
    </details>
    <details>
        <summary>Posso levar meu óleo a um posto de coleta?</summary>
    </details>
  </section>
  <style>
    a {
        color:black;
    }
    </style>
</Layout>
