---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/Button/Button.jsx";
import { Input } from "../components/Input/Input";
---

<Layout title="Esqueci Minha Senha - Óleo Descarte" logged={false}>
  <script></script>
  <main>
    <div class="container">
      <dialog class="modal" id="modal">
        <p>Nova senha enviada para o e-mail cadastrado.</p>
        <a href="login">Voltar para o login</a>
        <Button title="Fechar" id="closeModal" client:load />
      </dialog>
      <p>Digite o e-mail cadastrado para redefinir sua senha</p>
      <span class="input-container">
        <Input
          label="E-mail"
          id="email"
          type="email"
          placeholder="usuario@gmail.com.br"
          name="email"
          inputStyle={{ marginBottom: "0.5rem" }}
        />
      </span>
      <Button title="Redefinir Senha" id="redefinir" client:load />
      <a href="login">Voltar para o login</a>
    </div>
  </main>
</Layout>
<script>
  const modal = document.getElementById("modal");
  document.getElementById("redefinir").addEventListener("click", function () {
    modal.showModal();
    modal.style.display = "flex";
  });

  document.getElementById("closeModal").addEventListener("click", function () {
    modal.style.display = "";
    modal.close();
  });
</script>
<style>
  .modal {
    width: 22rem;
    border: 1px solid #4c4d4c;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #4c4d4c;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto auto;
  }
  .modal * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal::backdrop {
    background-color: #664c4d4c;
  }

  main {
    width: fit-content;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  p {
    text-align: center;
    color: #4c4d4c;
  }
  a {
    color: #4c4d4c;
    margin-top: 1rem;
  }
  .container {
    background-color: rgba(172, 222, 186, 0.09);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    max-width: 22rem;
    margin-top: 1rem;
  }
  .input-container {
    display: flex;
    flex-direction: column;
  }
</style>
