---
import { Image } from "astro:assets";
import { api } from "../api";
import { ProtectedRoute } from "../components/ProtectedRoute";
import Select from "../components/Select.astro";
import Title from "../components/Title.astro";
import OilSearch from '../features/OilSearch/OilSearch';
import busca from "../images/busca.svg";
import Layout from "../layouts/Layout.astro";


const {data} = await api({} ).get('/oil/districts/')
const districts = data.map(x => ({name: x}))

---

<Layout title="Onde Descartar">
  <ProtectedRoute route="/login">
  <main>
    <Image
      src={busca}
      alt="Busca"
      style="align-self: center;margin-top:1rem;"
    />
    <Title style="text-align:center; position:relative;" variant="low-hue">
      Buscar óleo para retirada
      <div class="bubble"></div>
    </Title>
    <Select
      id="district"
      name="district"
      label="Bairro"
      labelStyle="font-weight: 700;margin-top: 2rem;"
    >
    {
      districts.map((district) => (<option value={district.name}>{district.name}</option>))
    }
    </Select>
    <OilSearch client:idle />

  </main>
  </ProtectedRoute>
</Layout>
<style>
  main {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    background-color: rgba(172, 222, 186, 0.09);
    flex-direction: column;
    max-width: 22rem;    
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
  }
  .bubble {
    width: 5rem;
    height: 7rem;
    position: absolute;
    background-color: rgba(172, 222, 186, 0.3);
    border-radius: 100%;
    left: 50%;
    margin-left: -2.5rem;
    top: -1rem;
    z-index: -1;
  }
  .address {
    margin-top: 1rem;
    font-weight: 700;
  }
  p {
    margin: 0;
    color: #4c4d4c;
  }
  p.liters {
    margin 1rem 0;
  }
</style>