---
import { ProtectedRoute } from "../components/ProtectedRoute";
import HomeName from "../features/HomeName.jsx";
import PointsHome from "../features/PointsHome.jsx";
import { Retiradas } from "../features/Retiradas/Retiradas.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - Óleo Descarte">
  <ProtectedRoute route="/login">
    <script></script>
    <main>
      <div class="container">
        <HomeName client:load />
        <PointsHome client:load />
        <hr />
        <Retiradas client:idle />
        <p>Lembre-se, a cada 1 litro, você recebe 1 ponto.</p>
      </div>
    </main>
  </ProtectedRoute>
</Layout>
<style>
  main {
    width: fit-content;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  hr {
    width: 100%;
  }

  .bold {
    font-weight: bold;
  }
  .container {
    background-color: rgba(172, 222, 186, 0.09);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
  .bold {
    font-weight: 700;
  }
</style>
