---
import Layout from "../layouts/Layout.astro";
import home from "../images/home.svg";
import { Image } from "astro:assets";
---

<Layout title="Login">
  <main>
    <aside>
      <h2>Quero Doar</h2>
      <p>
        Descartar óleo de cozinha usado de maneira correta é essencial para
        evitar danos à natureza. Quando jogado na pia ou no vaso sanitário, o
        óleo contamina rios, lagos e oceanos, comprometendo a vida marinha e a
        qualidade da água que consumimos. Ao descartá-lo de forma consciente,
        podemos transformar um problema em uma solução valiosa.
      </p>
      <form action="/login" enctype="multipart/form-data" method="post">
        <input name="username" type="email" placeholder="E-mail" />
        <input name="password" type="password" placeholder="Senha" />
        <input type="submit" value="Entrar" />
      </form>
      <br />
      <span class="criarConta"
        ><a href="/register">Ainda não possui uma conta? Cadastre-se!</a></span
      >
    </aside>
    <article>
      <Image src={home} alt="pessoas" />
    </article>
  </main>
</Layout>
