---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/GoBack.astro";
import Title from "../components/Title.astro";
import { Input } from "../components/Input/Input.jsx";
import { Loading } from "../components/Loading";
import { LoginButton } from "../features/LoginButton";
---

<Layout title="Login">
  <main>
    <div class="holder">
      <Loading client:load />
      <GoBack />
      <Title variant="low-hue" size="M">Entrar em sua conta</Title>
      <span class="subtitle">
        Ainda não tem cadastro?
        <a href="/cadastrar">Crie sua conta aqui</a>
      </span>
      <form enctype="multipart/form-data" id="login">
        <Input
          label="E-mail"
          name="username"
          id="username"
          type="email"
          placeholder="usuario@email.com.br"
          required
          labelStyle={{ marginTop: "20px" }}
        />
        <Input
          label="Senha"
          id="password"
          name="password"
          type="password"
          placeholder="*******"
          required
          labelStyle={{ marginTop: "20px" }}
        />
        <a
          id="username"
          href="/esqueci-senha"
          style="font-size: 12px; font-weight: 500; margin-top: 10px;"
          >Esqueci minha senha</a
        >
        <LoginButton client:idle />
      </form>
    </div>
  </main>
</Layout>
<script></script>
<style>
  main {
    margin: 1rem 2rem;
  }
  .subtitle {
    font-weight: 600;
    font-size: 12px;
    color: #515251;
    margin-top: 15px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .holder {
    margin: 0 auto;
    max-width: 22rem;
    padding-top: 30px;
  }
  a {
    color: #1dbc4a;
  }
</style>
