---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/GoBack.astro";
import { Descartar } from "../features/Descartar/Descartar";
---

<Layout title="Onde Descartar">
  <main>
    <GoBack />
    <h1>Onde descartar?</h1>
    <Descartar client:load />
  </main>
  <style>
    main {
      padding: 1rem;
      margin: 0 auto;
    }
  </style>
</Layout>
