---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/GoBack.astro";
import Title from "../components/Title.astro";
import { Descartar } from "../features/Descartar/Descartar";
import { api } from "../api";

const { data: descartadores } = await api().get("/collectors/");
---

<Layout title="Onde Descartar">
  <main>
    <GoBack />
    <Title style="margin-bottom: 2rem;">Onde descartar?</Title>
    <Descartar descartadores={descartadores} />
  </main>
  <style>
    main {
      padding: 1rem;
      margin: 0 auto;
      min-width: 20rem;
      max-width: 22rem;
    }
  </style>
</Layout>
