---
import { PointsDisplay } from "../features/PointsDisplay";
import { LevelDisplay } from "../features/LevelDisplay";
import Layout from "../layouts/Layout.astro";
import happy from "../images/friend.png";
import { Button } from "../components/Button/Button";
---

<Layout title="Perfil" logged={true}>
  <main>
    <div class="bg">
      <h2>Aqui está o seu progresso, <span id="name"></span>!</h2>
      <PointsDisplay meter={true} client:load />
      <div class="tier-container">
        <img {...happy} />
      </div>
      <p>
        Consiga +<span id="points"></span> para conquistar o selo <span
          class="tier">protetor da água</span
        >
      </p>
    </div>

    <LevelDisplay client:load />
    <Button
      title="Cadastrar mais óleo usado agora!"
      onClick={() => {}}
      path="cadastro-oleo"
      client:load
    />
  </main>
</Layout>
<style>
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
  }

  .bg {
    padding: 1rem;
    background-color: rgba(172, 222, 186, 0.09);
  }
  .tier {
    color: #128232;
  }
  .tier-container {
    width: 1005;
    display: flex;
    justify-content: center;
  }
  p {
    font-weight: bold;
  }
</style>
<script>
  import { getAxios } from "../api";
  const nameElement = document.getElementById("name");
  const pointsElement = document.getElementById("points");

  async function getName() {
    const {
      data: { name },
    } = await getAxios().get(`/current-user/`);

    nameElement.textContent = name;
    pointsElement.textContent = 1;
  }
  getName();
</script>
