---
import Layout from "../layouts/Layout.astro";
import home from "../images/home.svg";
import { Image } from "astro:assets";
import GoBack from "../components/GoBack.astro";
import Title from "../components/Title.astro";
import { Register } from "../components/Register/Register.jsx";
---

<Layout title="Cadastro - Óleo Descarte">
  <main>
    <GoBack />
    <Title variant="low-hue" size="M">
      Para se cadastrar. Preencha os dados abaixo.
    </Title>

    <p>Escolha o seu perfil:</p>
    <Register client:load />
    <span class="signed-up"
      >Já tem cadastro? <a href="/login">Faça seu login</a></span
    >
  </main>
</Layout>
<style>
  main {
    width: fit-content;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  .signed-up {
    text-align: center;
    font-size: 0.8rem;
  }
  a {
    color: #1dbc4a;
    font-weight: 600;
  }
</style>
