---
interface Props {
  title: string;
}

const { title } = Astro.props;
import hamburguer from "../images/hamburguer.svg";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header id="title">
      <h1>Óleo Descarte</h1>
      <Image src={hamburguer} alt="Menu" width={20} height={20} />
    </header>
    <slot />
    <footer>
      <h3 class="footer-title">Óleo Descarte</h3>
      <nav>
        <ul class="footer-list">
          <li><a class="footer-link" href="/contato">Contato</a></li>
          <li><a class="footer-link" href="/duvidas">Dúvidas</a></li>
          <li>
            <a class="footer-link" href="/onde-descartar">Onde descartar?</a>
          </li>
        </ul>
      </nav>
      <p class="footer-text">
        © Óleo Descarte 2023. Todos os direitos reservados.
      </p>
    </footer>
  </body>
</html>
<style is:global>
  @charset "UTF-8";
  :root {
    --footer-size: 120px;
  }
  * {
    box-sizing: border-box;
  }
  .footer-title,
  .footer-list {
    margin: 0;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
  }
  .footer-link,
  .footer-text {
    margin: 0;
  }

  footer {
    width: 100%;
    background-color: #0a3f19;
    position: absolute;
    bottom: 0;
    height: var(--footer-size);
    color: white;
  }

  header#title {
    background-color: #128232;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 30px;
    color: white;
  }
  html {
    width: 100%;
    min-height: 100%;
  }
  body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: var(--footer-size);
    font-family: poppinsregular, Arial, Helvetica, sans-serif;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: inline-block;
  }

  a {
    color: white;
  }

  a:hover {
    color: rgb(56, 56, 58);
    transition: 0.3s all;
  }

  h1 {
    font-weight: 200;
  }

  main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium, Arial, Helvetica, sans-serif;
  }

  span {
    color: rgb(54, 58, 54);
  }

  p {
    max-width: 500px;
    font-family: poppinslight, Arial, Helvetica, sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(54, 58, 54);
    color: white;
    font-weight: bold;
  }

  form [type="submit"]:hover {
    cursor: pointer;
    background-color: #2f4435;
  }

  input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #51525196;
    font-size: 15px;
  }

  .criarConta > a {
    text-decoration: none;
    padding: 0.9em 0.85em;
    position: inherit;
    text-align: center;
    position: center;
  }

  .message {
    padding: 10px;
    margin-bottom: 10px;
  }

  .success {
    background-color: #d4edda;
    color: #155724;
    width: 360px;
    border: 0.2px solid #c3e6cb;
    border-radius: 25px;
  }

  .loginFailed {
    background-color: #e08386;
    color: #f5fcf7;
    width: 300px;
    border: 0.2px solid #d4a6a8;
    border-radius: 25px;
  }
</style>
